body {
    background-color: slategray;
}


ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  ul.horizontal {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: black;
}

ul.horizontal li {
    float: left;
}

ul.horizontal li a {
    display: inline-block;
    color: white;
    border: none;
    padding: 16px 30px;
    text-decoration: none; 
    font-family: sans-serif;
    font-variant-caps: all-small-caps;
    font-size: 1rem;
}

ul.horizontal li a:hover:not(.active) {
    background-color: aquamarine;
    color:black;
   
    
}

button {
    background: aquamarine;
    cursor: pointer;
    padding: 9px 20px;
    border: none;
    border-radius: 20px;
    font-family: sans-serif;
    font-variant-caps: all-small-caps;
    font-size: 1rem;
    transition: all 0.5s ease 0s;
    margin-left: 20px;
  }


  input {
    width: 150px;
    margin: 10px 10px;
    height: 30px;
    border: none;
    border-radius: 10px;
    font-family: Shanti;
    font-size: 1.3em;
    text-align: center;
  }
  
  input:focus {
      outline: none;
      border: solid 5px #00FFCE;
  }

  #inputbtn {
    background-color: PaleVioletRed;
    border:  none;
    width:  200px;
    color: white;
}

#inputbtn:hover {
    background-color: MediumVioletRed;
}